.app {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-size: 0.875rem;
}

.main-content {
  flex: 3;
  padding-left: 30px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.subtitle {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}
